<br><br><br><br>
<!-- confirmation dialog -->
<iazi-confirmation-button-material 
[btnType]="'link'"
[btnClass]="'dropdown-item'"

[btnString]="'Delete Button'"
[titleString]="'Confirm Action'"
[contentString]="'Are you sure you want to delete this?'"
[actionConfirmString]="'Yes'" 
[actionCancelString]="'No'"
(onConfirmed)="bulkDeleteElements()"
>
</iazi-confirmation-button-material>

<!-- <br/> <br/>  -->

<!-- <iazi-image-input-field></iazi-image-input-field> -->

<!-- <br/> <br/> -->

<!-- <app-fileupload></app-fileupload> -->

<!-- <app-ng2fileupload></app-ng2fileupload> -->

<br><br><br><br>

<!-- currency input -->
<IAZI-currency-input-field>

</IAZI-currency-input-field>