<img src="../../assets/Img/33u3ha.jpg" (click)="openPictureUploader(pictureUploaderPopupTemplate)" class="preview" />

<ng-template #pictureUploaderPopupTemplate>
    <div>
      <h2 mat-dialog-title class="mat-dialog-title" id="mat-dialog-title-0">logo</h2>
      <button type="button" class="fill close-button md-btn md-flat text-primary no-radius"
        [mat-dialog-close]="false"><span aria-hidden="true">&times;</span></button>
      <div mat-dialog-content class="mat-dialog-content content-size">
        <div>
          <img *ngFor="let preview of previews" [src]="preview" class="preview" />
        </div>
      </div>
      <div mat-dialog-actions class="mat-dialog-actions">
        <label class="btn btn-primary" ><i class="fa fa-trash-o"></i></label>
        <button mat-stroked-button class="mat-stroked-button-style" [mat-dialog-close]="false">close</button>
        <label class="btn btn-primary" ><i class="fa fa-paperclip"></i>
          Select picture
          <input type="file" id="fileInput" name="fileInput" accept="image/*" multiple (change)="selectFiles($event)" style="display:none" />
        </label>
        <!-- <button type="button" (click)="closeModal()">hide modal</button> -->
        <label class="btn btn-primary" *ngIf="isPictureUploading"><i class="fa fa-spinner fa-spin"></i>Uploading...</label>
      </div>
    </div>
  </ng-template>